@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.css';


/* styles/globals.css */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Fira Sans','Poppins', sans-serif;
  
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}


/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


nav {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.bg-white {
  background-color: white !important;
}

.bg-transparent {
  background-color: transparent !important;
}
.nav-link {
  transition: color 0.3s ease;
}

.hover\:underline-blue-500:hover {
  text-decoration-color: rgb(178, 201, 255); 
  text-decoration-thickness: 2px; 
  opacity: 0.8; 
}


